<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="sidebar text-white" [ngClass]="{ 'collapsed': isCollapsed }" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4">
      <img src="../../../../../assets/img/1579.jpg" alt="Logo Toro" class="logo-img mb-2" />
      <div class="fw-bold fs-5">🔥 El Rancho</div>
    </div>

    <div class="nav flex-column px-2">
      <a routerLink="/admin/crear-producto" routerLinkActive="active" class="nav-link">
        <i class="bi bi-hammer"></i> Crear Producto
      </a>
      <a routerLink="/admin/listar-productos" routerLinkActive="active" class="nav-link">
        <i class="bi bi-box-seam"></i> Listar Productos
      </a>
      <a routerLink="/admin/pedidos" routerLinkActive="active" class="nav-link">
        <i class="bi bi-clipboard-data"></i> Pedidos
      </a>
      <a routerLink="/admin/crear-usuario" routerLinkActive="active" class="nav-link">
        <i class="bi bi-person-plus"></i> Crear Usuarios
      </a>

      <a (click)="logout()" class="nav-link text-danger mt-3">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black px-3 shadow-sm">
      <button class="btn btn-outline-warning" (click)="toggleMenu()">
        <i class="bi" [ngClass]="{ 'bi-layout-sidebar-inset-reverse': !isCollapsed, 'bi-layout-sidebar-inset': isCollapsed }"></i>
      </button>
      <span class="navbar-brand ms-3 fw-bold text-warning">Panel de Administración</span>
    </nav>

    <div class="container-fluid p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
