.container, .container-fluid {
  min-height: 100vh;
  overflow-y: auto;

}
.hero-bienvenida {
  background: linear-gradient(to right, #2b2b2b, #2b2b2b);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 12px rgba(255, 193, 7, 0.1);
}
